footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
}

.social-links a:hover {
  color: #adadad;
}
